.blog-content {
    float: right;
    
  
}


.menu-text {
    color: #2E294E; 
    
}

.article-content-container {
margin-left: 5vw;
margin-right: 5vw; 
margin-top: 10vh; 

}

.sider {
    margin-top: 5vh;
    background-color: #FFF;
 
}




.blog-text {
    color: blue; 
 

}

.title {
font-size: 40px;
}

.sub-title {
    font-size: 20px;
    font-weight: 500;
}

.paragraph-text{
    font-size: 15px;
}

.sidenav-container {
    color: black;
   
}

@media(max-width: 480px){

    .article-content-container {
        margin-left: 7vw;
        margin-right: 7vw; 
        margin-top: 5vh; 
        
        }
        

        .sider {
            margin-top: 0vh;
            background-color: #FFF;
         
        }


}